// Colors

$mk_color_appsmenu_text: #F8F9FA;
$mk_color_appbar_text: #111827;
$mk_color_appbar_active: #e6f2f3;
$mk_color_appbar_background: #f9fafb;

// Override

$mk-appsmenu-color: $mk_color_appsmenu_text;
$mk-appbar-color: $mk_color_appbar_text;
$mk-appbar-active: $mk_color_appbar_active;
$mk-appbar-background: $mk_color_appbar_background;